body{
  text-align: center;
}

.btn{
  height: 150px;
  width: 150px;
  border-radius: 12%;
  border: 8px solid black;
  margin: 2.5rem;
}

.btn-container{
   display: flex;
  justify-content: center;


}

.yellow{
  background-color: rgb(228, 228, 31);
}
.purple{
  background-color: rgb(223, 67, 223);
}
.red{
  background-color: rgba(233, 70, 70, 0.845);
}
.green{
  background-color: rgb(128, 195, 128);
}

.flash {
  background-color:white;
}

.userflash {
  background-color:rgb(9, 76, 245);
}
